<<<<<<< HEAD
@charset 'UTF-8';
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Bold.eot');
    src:url('/sites/default/files/fonts/AbrilText-Bold.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Bold.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Bold.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Bold.svg#AbrilText-Bold')
        format('svg');
    font-weight:bold;
    font-style:normal

}
@fonts-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-BoldItalic.eot');
    src:url('/sites/default/files/fonts/AbrilText-BoldItalic.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.svg#AbrilText-BoldItalic')
        format('svg');
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Regular.eot');
    src:url('/sites/default/files/fonts/AbrilText-Regular.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Regular.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Regular.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Regular.svg#AbrilText-Regular')
        format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Italic.eot');
    src:url('/sites/default/files/fonts/AbrilText-Italic.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Italic.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Italic.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Italic.svg#AbrilText-Italic')
        format('svg');
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Regular.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Regular.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular')
        format('svg');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique')
        format('svg');
    font-weight:400;
    font-style:italic
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold')
        format('svg');
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Publisso';
    src:url('/sites/default/files/fonts/publisso-icons.eot');
    src:url('/sites/default/files/fonts/publisso-icons.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/publisso-icons.woff')
        format('woff'),
        url('/sites/default/files/fonts/publisso-icons.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/publisso-icons.svg#zbmed-icons')
        format('svg');
    font-weight:normal;
    font-style:normal
}
footer [class^='icon-']:before,[class*=' icon-']:before,[data-icon]:before,.intern:before,.more:before,.extern:before,.document:before,.mail:before,.download:before,.fileName a:before,.event_list .title a:before,.keywordsection a:before,.totop:before,.back-link:before,.teaser .medium h2 a:before{
    font-family:'Publisso' !important;
    font-style:normal !important;
    font-weight:normal !important;
    font-variant:normal !important;
    text-transform:none !important;
    speak:none !important;
    line-height:1 !important;
    vertical-align:baseline !important;
}
[data-icon]:before{content:attr(data-icon)}
.icon-arrow-right:before,.slick-next:before{content:"\61"}
.icon-arrow-left:before,.back-link:before,.slick-prev:before{content:"\62"}
.icon-arrow-down:before{content:"\63"}
.icon-arrow-up:before,.totop:before{content:"\64"}
.icon-user:before{content:"\65"}
.icon-menu:before{content:"\66"}
.icon-download:before,.download:before,.fileName a:before{content:"\67"}
.icon-phone:before{content:"\68"}
.icon-mail:before,.mail:before{content:"\69"}
.icon-document:before,.document:before{content:"\6a"}
.icon-play:before{content:"\6b"}
.icon-facebook:before{content:"\6c"}
.icon-gplus:before{content:"\6d"}
.icon-linkedin:before{content:"\6e"}
.icon-twitter:before{content:"\6f"}
.icon-tumblr:before{content:"\70"}
.icon-flickr:before{content:"\71"}
.icon-cancel:before{content:"\72"}
.icon-cancel-circle:before{content:"\73"}
.icon-share:before{content:"\74"}
.icon-search:before{content:"\75"}
.icon-youtube:before{content:"\76"}
.icon-share-facebook:before{content:"\77"}
.icon-location:before{content:"\78"}
.icon-link-extern:before,.extern:before{content:"\79"}
.icon-link-intern:before,.intern:before,.more:before,.keywordsection a:before,.teaser .medium h2 a:before{content:"\7a"}
.icon-dot-solid:before{content:"\31"}
.icon-dot-empty:before{content:"\32"}
.icon-pause:before{content:"\33"}
.icon-plus:before{content:"\34"}
.icon-minus:before{content:"\35"}
.icon-speech-cloud:before{content:"\36"}
.icon-note:before{content:"\37"}
.icon-open-access:before{content:"\38"}
.icon-news:before{content:"\39"}
.icon-geotag:before{content:"\41"}
.icon-calendar:before{content:"\42"}
.icon-time:before{content:"\43"}
.icon-bulb:before{content:"\44"}
.icon-globe:before{content:"\45"}
.icon-lab:before{content:"\46"}
.icon-academia:before{content:"\47"}
.icon-checkmark:before{content:"\48"}
footer h4{color:#4b4b4d; font-size:21px;font-style:italic;line-height:29px;letter-spacing:0.35px;margin-top:10px}
footer a{color:#4b4b4d;text-decoration:none;font-size:inherit;line-height:25px;letter-spacing:0.3px}
footer{max-width:100%;padding:0}
footer nav{background-color:#ededed;position:relative}
footer nav>div{max-width:1440px;padding:40px 5%;margin:0 auto;overflow:hidden;position:relative}
footer nav ul{font-size:0;list-style:none;padding-left:0}
footer nav li{display:inline-block}
footer nav li.label h4{font-size:18px;font-family:'Abril',serif;font-style:italic;font-weight:normal}
footer nav a{font-size:18px}
footer nav a span{font-size:0}
footer nav a span:before{color:#5d5d5e;font-size:33px}
footer nav a:hover span:before,
footer nav a:focus span:before{color:#375b9a}
footer .social{display:inline-block;margin-bottom:20px}
footer .social:not(:first-of-type){margin-left:45px}
footer .social li{vertical-align:middle}
footer .social li:not(:last-child){margin-right:5px}
footer .social li.label{margin-right:25px}
footer .social a{display:block}
footer ul.menu-footer li:not(:last-child):after{content:'|';font-size:16px;margin:0 10px}
footer ul.menu-footer a:hover,footer ul.menu-footer a:focus{color:#000;text-decoration:underline}
footer .toplink{position:absolute;top:40px;right:5%}
footer .toplink:hover{color:#375b9a}
footer .toplink span:before{font-size:20px;margin-left:10px}
footer .zbmed{display:inline-block;position:absolute;right:18%;top:24px;width:17%}
footer .zbmed img{width:100%;height:auto}

@media only screen and (max-width:1024px){footer .main>a.toggle{display:none}
                                          footer .social{display:block}
                                          footer .social:not(:first-of-type){margin-left:0}
                                          footer .zbmed{right:5%;top:85px;width:23%;min-width:225px}
                                          @media only screen and (max-width:768px){h1{top:75px;width:245px}
                                                                                   footer nav li.label{display:block;margin-bottom:10px}
                                                                                   footer .toplink{display:block;position:relative;top:auto;right:auto;margin-top:20px}
                                                                                   footer .zbmed{position:relative;right:auto;top:auto;margin:25px 0}
                                          }
                                          a{color:#375b9a !important}

                                          .container{
                                              padding: 0px !important;
                                          }
=======
@charset 'UTF-8';
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Bold.eot');
    src:url('/sites/default/files/fonts/AbrilText-Bold.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Bold.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Bold.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Bold.svg#AbrilText-Bold')
        format('svg');
    font-weight:bold;
    font-style:normal

}
@fonts-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-BoldItalic.eot');
    src:url('/sites/default/files/fonts/AbrilText-BoldItalic.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-BoldItalic.svg#AbrilText-BoldItalic')
        format('svg');
    font-weight:bold;
    font-style:italic
}
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Regular.eot');
    src:url('/sites/default/files/fonts/AbrilText-Regular.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Regular.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Regular.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Regular.svg#AbrilText-Regular')
        format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{
    font-family:'Abril';
    src:url('/sites/default/files/fonts/AbrilText-Italic.eot');
    src:url('/sites/default/files/fonts/AbrilText-Italic.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/AbrilText-Italic.woff')
        format('woff'),
        url('/sites/default/files/fonts/AbrilText-Italic.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/AbrilText-Italic.svg#AbrilText-Italic')
        format('svg');
    font-weight:normal;
    font-style:italic
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Regular.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Regular.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Regular.svg#TabletGothicNarrow-Regular')
        format('svg');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Oblique.svg#TabletGothicNarrow-Oblique')
        format('svg');
    font-weight:400;
    font-style:italic
}
@font-face{
    font-family:'TabletGothicNarrow';
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.eot');
    src:url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.woff')
        format('woff'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/TabletGothicNarrow-Semibold.svg#TabletGothicNarrow-Semibold')
        format('svg');
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'Publisso';
    src:url('/sites/default/files/fonts/publisso-icons.eot');
    src:url('/sites/default/files/fonts/publisso-icons.eot?#iefix')
        format('embedded-opentype'),
        url('/sites/default/files/fonts/publisso-icons.woff')
        format('woff'),
        url('/sites/default/files/fonts/publisso-icons.ttf')
        format('truetype'),
        url('/sites/default/files/fonts/publisso-icons.svg#zbmed-icons')
        format('svg');
    font-weight:normal;
    font-style:normal
}
footer [class^='icon-']:before,[class*=' icon-']:before,[data-icon]:before,.intern:before,.more:before,.extern:before,.document:before,.mail:before,.download:before,.fileName a:before,.event_list .title a:before,.keywordsection a:before,.totop:before,.back-link:before,.teaser .medium h2 a:before{
    font-family:'Publisso' !important;
    font-style:normal !important;
    font-weight:normal !important;
    font-variant:normal !important;
    text-transform:none !important;
    speak:none !important;
    line-height:1 !important;
    vertical-align:baseline !important;
}
[data-icon]:before{content:attr(data-icon)}
.icon-arrow-right:before,.slick-next:before{content:"\61"}
.icon-arrow-left:before,.back-link:before,.slick-prev:before{content:"\62"}
.icon-arrow-down:before{content:"\63"}
.icon-arrow-up:before,.totop:before{content:"\64"}
.icon-user:before{content:"\65"}
.icon-menu:before{content:"\66"}
.icon-download:before,.download:before,.fileName a:before{content:"\67"}
.icon-phone:before{content:"\68"}
.icon-mail:before,.mail:before{content:"\69"}
.icon-document:before,.document:before{content:"\6a"}
.icon-play:before{content:"\6b"}
.icon-facebook:before{content:"\6c"}
.icon-gplus:before{content:"\6d"}
.icon-linkedin:before{content:"\6e"}
.icon-twitter:before{content:"\6f"}
.icon-tumblr:before{content:"\70"}
.icon-flickr:before{content:"\71"}
.icon-cancel:before{content:"\72"}
.icon-cancel-circle:before{content:"\73"}
.icon-share:before{content:"\74"}
.icon-search:before{content:"\75"}
.icon-youtube:before{content:"\76"}
.icon-share-facebook:before{content:"\77"}
.icon-location:before{content:"\78"}
.icon-link-extern:before,.extern:before{content:"\79"}
.icon-link-intern:before,.intern:before,.more:before,.keywordsection a:before,.teaser .medium h2 a:before{content:"\7a"}
.icon-dot-solid:before{content:"\31"}
.icon-dot-empty:before{content:"\32"}
.icon-pause:before{content:"\33"}
.icon-plus:before{content:"\34"}
.icon-minus:before{content:"\35"}
.icon-speech-cloud:before{content:"\36"}
.icon-note:before{content:"\37"}
.icon-open-access:before{content:"\38"}
.icon-news:before{content:"\39"}
.icon-geotag:before{content:"\41"}
.icon-calendar:before{content:"\42"}
.icon-time:before{content:"\43"}
.icon-bulb:before{content:"\44"}
.icon-globe:before{content:"\45"}
.icon-lab:before{content:"\46"}
.icon-academia:before{content:"\47"}
.icon-checkmark:before{content:"\48"}
footer h4{color:#4b4b4d; font-size:21px;font-style:italic;line-height:29px;letter-spacing:0.35px;margin-top:10px}
footer a{color:#4b4b4d;text-decoration:none;font-size:inherit;line-height:25px;letter-spacing:0.3px}
footer{max-width:100%;padding:0}
footer nav{background-color:#ededed;position:relative}
footer nav>div{max-width:1440px;padding:40px 5%;margin:0 auto;overflow:hidden;position:relative}
footer nav ul{font-size:0;list-style:none;padding-left:0}
footer nav li{display:inline-block}
footer nav li.label h4{font-size:18px;font-family:'Abril',serif;font-style:italic;font-weight:normal}
footer nav a{font-size:18px}
footer nav a span{font-size:0}
footer nav a span:before{color:#5d5d5e;font-size:33px}
footer nav a:hover span:before,
footer nav a:focus span:before{color:#375b9a}
footer .social{display:inline-block;margin-bottom:20px}
footer .social:not(:first-of-type){margin-left:45px}
footer .social li{vertical-align:middle}
footer .social li:not(:last-child){margin-right:5px}
footer .social li.label{margin-right:25px}
footer .social a{display:block}
footer ul.menu-footer li:not(:last-child):after{content:'|';font-size:16px;margin:0 10px}
footer ul.menu-footer a:hover,footer ul.menu-footer a:focus{color:#000;text-decoration:underline}
footer .toplink{position:absolute;top:40px;right:5%}
footer .toplink:hover{color:#375b9a}
footer .toplink span:before{font-size:20px;margin-left:10px}
footer .zbmed{display:inline-block;position:absolute;right:18%;top:24px;width:17%}
footer .zbmed img{width:100%;height:auto}

@media only screen and (max-width:1024px){footer .main>a.toggle{display:none}
                                          footer .social{display:block}
                                          footer .social:not(:first-of-type){margin-left:0}
                                          footer .zbmed{right:5%;top:85px;width:23%;min-width:225px}
                                          @media only screen and (max-width:768px){h1{top:75px;width:245px}
                                                                                   footer nav li.label{display:block;margin-bottom:10px}
                                                                                   footer .toplink{display:block;position:relative;top:auto;right:auto;margin-top:20px}
                                                                                   footer .zbmed{position:relative;right:auto;top:auto;margin:25px 0}
                                          }
                                          a{color:#375b9a !important}

                                          .container{
                                              padding: 0px !important;
                                          }
>>>>>>> master
}