div#rwMenu.horizontal ul li{
    float: left;
    margin: 4px;
}

div#rwMenu.vertical ul li{
    margin: 4 0 4 0;
}

div#rwMenu.vertical ul li:hover{
    background-color: #d4d4d4;
}

div#rwMenu ul li a{
    
}

div#rwMenu ul li a:link{
    text-decoration: none !important;
}

div#rwMenu ul li a:active{
    text-decoration: underline;
}

span.rwAlert{
    color: #990000 !important;
}

div.rwStatus{
    color: #009900;
    border: 1px solid #00cc00;
    background-color: #ddffdd;
    padding: 5px;
}

a.active{
    color: #990000;
}

form#publisso_goldusermanagementfilter div{
    float: left;
}

div.rwTable{
    display: table;
    padding: 4px;
}

div.rwTablerow{
    display: table-row;
    padding: 4px;
}

div.rwTablerow:hover{
    background-color: #d4d4d4;
}

div.rwTablerow.no_hover:hover{
    background-color: #ffffff !important;
}

div.rwTablecell{
    display: table-cell;
    padding: 4px;
}

div.rwTablecell.head{
    font-weight: bold;
    background-color: #ffffff !important;
}

div.fieldset-wrapper div{
    float: left;
    margin-right: 10px;
}

.filter_wrapper{
    display: none !important;
}

div#rwSidebar{
  float: right;
  width: 25%;
}

div#rwMaincontent{
  float: right;
  width: 75%;
  padding-right: 10px;
}

div#rwCitationNote{
  border-bottom: 4px solid #375b9a;
}

div#rwLicense{
  border-bottom: 4px solid #375b9a;
}

div#rwKeywords{
  border-bottom: 4px solid #375b9a;
}

div#rwKeywords ul{
  list-style-type: none;
}

div#rwBookCover{
  float: left;
  width: 25%;
  text-align: center;
}

div#rwBookMain{
  float: left;
  width: 50%;
}

div#rwBookRight{
  float: left;
  width: 25%;
  text-align: right;
}

div#rwWrapperBook{
  padding-top: 20px;
}

a.rwButton{
  padding: 15px;
  background-color: #375b9a;
  color: white;
  font-family: Abril,serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: italic;
  font-synthesis: weight style;
}

a.rwButton:hover{
  color: white;
  text-decoration: none;
  cursor: default;
}

a.rwButton:active{
  color: white;
  text-decoration: none;
  cursor: default;
}

a.rwButton:visited{
  color: white;
  text-decoration: none;
  cursor: default;
}

a.rwButton:focus{
  color: white;
  text-decoration: none;
  cursor: default;
}

.font-red{
	color: cc0000 !important;
}