<section class="article-header border-top" style="border-top-color: {{ conference.color }};">
        
        <div class="header-col-right col-md-3">
                <div class="logo--publisher">
                        <img class="img-responsive" src="/system/getPicture/ul/{{ logoFID }}" alt="" title="">
                </div>
        </div>
        
        <div class="col-md-7">
                <h1 class="page-header">{{ conference.title }}</h1>
                
                <div class="meta--article">
                        {{ conference.inviting_society }}<br>
                        {{ conference.date_start }} &minus; {{ conference.date_end }}<br>
                        {{ conference.city }}
                </div>
        
        
        </div>
</section>
<a id="main-content"></a>
<div class="row">
        <div class="col-xs-12">
                <ul class="nav nav-tabs pub-nav-tabs" id="tabs" style="border-bottom-color: {{ conference.color }};">
                        {% for tab in tabs %}
                                
                                {% if tab.class %}
                                        {% set attributes = attributes.setAttribute('class', tab.class).setAttribute('style', ['background-color:'~tab.bgcolor~';', 'border-color:'~tab.bgcolor~';']) %}
                                {% else %}
                                        {% set attributes = attributes.removeAttribute('class').removeAttribute('style') %}
                                {% endif %}
                                
                                <li{{ attributes }}>
                                        <a href="{{ tab.url }}"{{ attributes }}>{{ tab.title|t }}</a>
                                </li>
                        {% endfor %}
                </ul>
        </div>
</div>
{{ conferenceTOC }}