{% if conference.venue %}
        <h2>{{ 'Venue'|t }}</h2>
        {{ conference.venue }}

        {% if conference.venue_info %}
                <br>
                {{ conference.venue_info|nl2br }}
        {% endif %}
{% endif %}
{% if conference.inviting_society %}
        {{ conference.venue ? '<br><br>'|raw }}
        <h2>{{ 'Inviting society'|t }}</h2>
        {{ conference.inviting_society }}
        {% if conference.inviting_society_info %}
                {{ conference.inviting_society_info }}
        {% endif %}
{% endif %}