{% for item in conferences %}
    <hr style="background-color: #375b9a; height: 6px; border: none;">
    <div style="width: 90%; float: left;">
        <h3 style="margin-top: 0;">{{ item.headline }}</h3>
        {{ item.inviting_society }}<br>
        {{ item.date_start }} {{ item.date_start or item.date_end ? ' – ' : '' }} {{ item.date_end }}<br>
        {{ item.city }}<br>
        {{ item.status }}
    </div>
    <div style="width: 10%; text-align: right; float: right;">
        <img src="{{ item.urlLogo }}" alt="{{ 'Logo'|t }}: {{ item.title }}" title="{{ item.title }}" style="max-width: 100px; max-height: 100px;">
    </div>
    <br clear="all">
{% endfor %}
