body {
        margin: 0px;
        padding: 0px;
        background-color: rgb(90%, 90%, 90%);
        font-family: sans-serif;
}

h1 {
        clear: left;
        font-family: sans-serif;
        color: white;
        background-color: #375b9a;
        padding: 0.3em;
        padding-left: 12pt;
        margin: 0px;
        font-family: sans-serif;
}

h2 {
        clear: left;
        font-family: sans-serif;
        padding: 0.3em;
        padding-left: 12pt;
}

form {
        margin: 0.3em;
        margin-left: 12pt;
}

form label{
        display: block;
}

.navigation_bar {
        font-family: sans-serif;
        margin: 0px;
        background-color: silver;
        padding-left: 12pt;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
}

.navigation_bar a {
        text-decoration: none;
        font-weight: bold;
        color: black;
}

.navigation_bar a:HOVER {
        color: blue;
        background-color: rgb(90%, 90%, 90%);
}

.navigation_item {
        padding-left: 0.5em;
        padding-right: 0.5em;
}

div.key {
        width: 200px;
        float: left;
        margin: 0.2em;
        background-color: white;
}

div.value {
        width: 400px;
        float: left;
        margin: 0.2em;
        background-color: white;
}

li {
        clear: left;
        list-style: none;
}

li.header {
        font-weight: bold;
        font-size: 120%;
}

ul ul li {
        margin-left: 5em;
        clear: left;
        list-style: none;
}

div.rwTable{
        display: table;
}

div.rwTablerow{
        display: table-row;
}

div.rwTablecell{
        display: table-cell;
        padding: 4px;
}
