<section class="block" id="chapter-search" style="border-bottom-color: {{ conference.color }};">
        {% if sideblock.title %}
                <h2 class="block-class">{{ sideblock.title }}<br></h2>
        {% endif %}
        {% if sideblock.content %}
                <div class="view">
                        {{ sideblock.content | raw }}
                </div>
                {% if sideblock.subcontent | length %}
                        {% for subcontent in sideblock.subcontent  %}
                                <div>{{ subcontent | raw }}</div>
                        {% endfor %}
                {% endif %}
        {% endif %}
</section>