{% set logoFID = conference.logo ? conference.logo : 0 %}
{% autoescape "html" %}
{% include 'public-conference-head.html.twig' %}
        <div class="tab-content">
                <div id="chapter-content">
                        {% include 'public-' ~ template ~ '.html.twig' %}
                </div>
        </div>
{% endautoescape %}