<div class="row">
        <br>
        <div class="col-sm-9">
                <div id="bookChapterNavigation" class="rwTable">
                        <div class="rwTablerow nohover">
                                <div class="rwTablecell">
                                        <div class="alignleft">
                                                {{ linkPrevious }}
                                        </div>
                                </div>
                                <div class="rwTablecell">
                                        &nbsp;
                                </div>
                                <div class="rwTablecell">
                                        <div class="alignright">
                                                {{ linkNext }}
                                        </div>
                                </div>
                        </div>
                </div>
                <br clear="all">
                <h1>{{ abstract.title }}</h1>
                <div id="abstract-authors">
                        {% for author in authors.authors %}
                                {{ author.author }}
                                {% if author.affiliation %}
                                        <sup>{{ author.affiliation }}</sup>
                                {% endif %}
                                <br>
                        {% endfor %}
                </div>
                <div id="abstract-affiliations">
                        {% for affiliation in authors.affiliations %}
                                <sup>{{ loop.index }}</sup>{{ affiliation }}<br>
                        {% endfor %}
                </div>
                <div id="abstract-maintext">
                        {{ abstract.main_text|raw }}
                </div>
                {% if attachments | length %}
                        <hr>
                        <h2>{{ 'Attachments'|t }}</h2>
                        {% for attachment in attachments %}
                                {{ attachment }}<br>
                        {% endfor %}
                {% endif %}
        </div>
        <div class="col-sm-3">
                <aside>
                        <div class="region region-sidebar-second article__suporting-information">
                                {%  if sideblocks %}
                                        {% for sideblock in sideblocks %}
                                                {%  include 'public-abstract-sideblock.html.twig' %}
                                        {% endfor %}
                                {% endif %}
                        </div>
                </aside>
        </div>
</div>